body{
    background-color: rgba(41, 70, 158, 1);
background-image: linear-gradient(186deg, rgba(41, 70, 158, 1) 0%, rgba(8, 14, 29, 1) 100%);
height: 905px;
}
h1{
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 1);
}
h3{
    margin-left: 20px;
    margin-right: 20px;
}
.zdjęcia{
    display: inline-flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items:center;
align-content: flex-start;
}
.zdjęcia img{
    width: 23%;
    margin-right: 20px;
    margin-top:20px;
}
a{
    margin-left: 50px ;
    text-decoration: none;
    color:black;
    border: black solid;
}
.menu:hover{
    -webkit-transition: background 1.1s linear;
-moz-transition: background 1.1s linear;
-ms-transition: background 1.1s linear;
-o-transition: background 1.1s linear;
transition: background 1.1s linear;
background-color: rgb(37, 88, 240);
}
.menu h2{
    color:black;
    text-shadow: none;
}
.menu a{
    display: inline-flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: center;
align-content: center;
margin-bottom: 60px;
font-size: 26px;
}