body{ 
    background-color: rgba(89, 131, 252, 1);
background-image: linear-gradient(245deg, rgba(89, 131, 252, 1) 0%, rgba(41, 53, 86, 1) 79%);
	font-family: Roboto Condensed;
    height: 2350px;
}
h1{
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 1);
}
a{
    margin-left: 50px ;
    text-decoration: none;
    color:black;
    border: black solid;
}
.menu:hover{
    -webkit-transition: background 1.1s linear;
-moz-transition: background 1.1s linear;
-ms-transition: background 1.1s linear;
-o-transition: background 1.1s linear;
transition: background 1.1s linear;
background-color: rgb(37, 88, 240);
}
.menu h2{
    color:black;
    text-shadow: none;
}
.menu a{
    display: inline-flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: center;
align-content: center;
margin-bottom: 60px;
font-size: 26px;
}
p{
    font-size: 18px;
    font-weight:900;
}